<div class="outer-div">
  <p><%= link_to "Go back to main page", events_url %></p>
  <% @event.people.each do |person| %>
    <div class="inner-div">
      <%= person.first_name %>
      <%= person.last_name %>
      <br>
    </div>
  <% end %>
</div>
